.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.container {
  max-width: 960px;
}
body {
  background-color: #f3f4ed;
}
h1 {
  font-family: "Lexend Deca", sans-serif;
}

/* Badges */

.app-download {
  display: flex;
  justify-content: space-around;
  align-items: center;
  direction: rtl;
  background-color: #dc1e4d;
  top: 0;
  position: fixed;
  flex-direction: column;
  z-index: 100;
  left: 2rem;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  box-shadow: 1px 2px 14px 5px #00000070;
  padding: 1rem;
}
:focus {
  outline: none;
}
.badge {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #fff;
  cursor: pointer;
}
#first-title {
  font-size: 1rem;
}
#second-title {
  font-size: 0.8rem;
}
